#card-details-container {
	overflow-y: scroll;
	background-size: cover;
	padding: 30px 20% 10px 20%;
	background-repeat: no-repeat;
	height: -webkit-fill-available;
}
#card-details-container::-webkit-scrollbar {
	width: 6px;
}
#card-details-container::-webkit-scrollbar-thumb {
	margin-left: 10px;
	padding-left: 10px;
	border-radius: 4px;
	background-color: rgba(255,255,255, 0.3);
}
#card-details-container::-webkit-scrollbar-track {
	background-color: transparent;
}
#card-details-container .back-button {
	color: #fff;
	border: none;
	cursor: pointer;
	padding: 8px 20px;
	width: fit-content;
	border-radius: 50px;
	margin: 0 0 10px -15px;
	background: transparent;
	transition: all ease 0.4s;
}
#card-details-container .back-button:hover {
	background:rgba(255,255,255, 0.3);
}
#card-details-container .back-button:active {
	background:rgba(255,255,255, 0.5);
}
#card-details-container .back-button:focus {
	outline-width: 0;
}
#card-details-container .back-button i {
	color: #fff;
	font-size: 12px
}
#card-details-container .card-details-title {
	margin: 0;
	color: #fff;
	line-height: 1;
	padding-top: 10px;
	border-top: solid 1px rgba(255,255,255, 0.3);
}
#card-details-container .card-details-tags-action-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#card-details-container .card-details-tags-action-container .card-details-tags {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
#card-details-container .card-details-tags-action-container .card-details-tags p {
	color: #fff;
	padding: 5px 20px;
	margin-right: 10px;
	border-radius: 50px;
	background:rgba(255,255,255, 0.3);
}
#card-details-container .card-details-tags-action-container .card-details-actions {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
#card-details-container .card-details-tags-action-container .card-details-actions i {
	color: #fff;
	cursor: pointer;
}
#card-details-container .card-details-tags-action-container .card-details-actions i:nth-child(2) {
	margin: 0 10px;
}
#card-details-container .card-details-desc {
	margin: 0;
	color: #fff;
	font-size: 25px;
	font-weight: normal;
	margin-bottom: 10px;
	/*border-bottom: solid 1px rgba(255,255,255, 0.3);*/
}
#card-details-container .related-cards-heading {
	margin: 0;
	color: #fff;
	font-size: 25px;
	font-weight: normal;
	padding-top: 5px;
	margin: 15px 0;
	border-top: solid 1px rgba(255,255,255, 0.3);
}
#card-details-container .related-card-list-container {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}
#card-details-container .related-card {
	width: 40%;
	background: #fff;
	border-radius: 7px;
	margin-right: 10px;
	border: solid 1px #fff;
	cursor: pointer;
}
#card-details-container .related-card img {
	width: 100%;
	height: 150px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}
#card-details-container .related-card .related-card-details {
	padding: 10px;
}
#card-details-container .related-card .related-card-details h4 {
	margin: 0px 0px 5px 0px;
	color: #515356;
}
#card-details-container .related-card .related-card-details p {
	margin: 0px;
	color: #a9a9a9;
	font-size: 12px;
  overflow: hidden;
	white-space: nowrap;
  text-overflow:ellipsis;
}

@media only screen and (max-width: 480px) {
	#card-details-container{
		padding: 10px;
	}
	#card-details-container .related-card{
		width: 45%;
	}
	#card-details-container .related-card img{
		height: 90px;
	}
}